.container {
  height: 100vh;
}
body {
  background-color: #000;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  background-color: #cfcfcf;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}
.form-control::placeholder {
  color: #aaa;
}

