{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de Clientes{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center">
    <div class="col-md-6 d-flex align-items-center">
        <div class="cadastro_cliente-container w-100">
            <h2 class="text-center mb-4">Cadastro de Clientes</h2>

            <!-- Área de erro -->
            <div class="error-box">
                {% if error %}
                    <div class="alert alert-danger text-center font-weight-bold" role="alert">
                        {{ error }}
                    </div>
                {% else %}
                    <div style="height: 48px;"></div> <!-- espaço reservado -->
                {% endif %}
            </div>

            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Nome/Razão Social</label>
                    <input  value="{{ data.nome | default:''}}" name="nome" type="text" class="form-control rounded-pill" placeholder="Digite o nome da Empresa ou do Cliente aqui">
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="form-label">CPF/CNPJ</label>
                        <input  value="{{ data.documento | default:''}}" name="documento" type="text" class="form-control rounded-pill" placeholder="Exemplo: 123.456.789-00" oninput="formatDocument(this)">
                    </div>

                    <div class="form-group col-md-6">
                        <label class="form-label">CEP</label>
                        <input  value="{{ data.cep | default:''}}" name="cep" type="text" class="form-control rounded-pill" placeholder="CEP do Cliente" oninput="formatCEP(this)">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input  value="{{ data.email | default:''}}" name="email" type="text" class="form-control rounded-pill" placeholder="cliente@cliente.com">
                </div>

                <div class="mb-3">
                    <label class="form-label">Telefone</label>
                    <input  value="{{ data.telefone | default:''}}" name="telefone" type="text" class="form-control rounded-pill" placeholder="(19) 99999-9999" oninput="formatPhone(this)">
                </div>

                <div class="mb-3">
                    <label class="form-label">Telefone Residencial</label>
                    <input  value="{{ data.telefone_residencial | default:''}}" name="telefone_residencial" type="text" class="form-control rounded-pill" placeholder="(19) 12345-6789" oninput="formatPhone(this)">
                </div>

                <div class="text-center mb-3">
                    <button type="submit" class="btn btn-dark rounded-pill btn-lg btn-block">Criar Cadastro do Cliente</button>
                </div>

                <div class="text-center mb-3">
                    <a href="{% url 'index' %}" class="btn btn-secondary btn-lg btn-block">Cancelar Cadastro</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'utils/InputMaskScript.js' %}"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'style/cadastro_cliente.css' %}">
{% endblock %}